<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" dir="rtl">
  <div class="container">
    <a class="navbar-brand" href="/"><b>حافظ</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto py-4 py-lg-0">
        <li class="nav-item active">
          <a class="nav-link px-lg-3 py-3" href="/">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3" href="/signup">نام‌نویسی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3" href="https://gitlab.com/h3901" target="_blank">گیت‌لب</a>
        </li>
      </ul>
    </div>
    </div>
</nav>