<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="utf-8">
      <title>صفحه اصلی | دفترچه یادداشت حافظ </title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.rtl.min.css">
      <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <style>
    @font-face {
      font-family: "Vazir";
      src: url("{% static 'fonts/Vazir-Regular.ttf' %}");
    }
    body {
      font-family: "Vazir";
    }
  </style>
  <body class="body">
    {% include "header.html" %}
    <div class="container mt-3" style="text-align: center;" dir="rtl">
      <p>یادداشت هات رو همه جا داشته باش!</p>
      <b>پروژه در حال توسعه است می توانید روند پیشرفت آن را در <a href="https://gitlab.com/h3901" target="_blank">گیت‌لب</a> ببینید!</b>
    </div>
  </body>
