<!DOCTYPE html>
<html>
{% load static %}
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>نام‌نویسی | حافظ</title>
	    <link href="{% static 'css/bootstrap.rtl.css' %}" rel="stylesheet">
		  <meta name="theme-color" content="#7952b3">
	</head>
  <style>
    @font-face {
      font-family: "Vazir";
      src: url("{% static 'fonts/Vazir-Regular.ttf' %}");
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    
    html,
    body {
      height: 100%;
    }

    body {
      background-image: url("{% static 'images/signup-wallpaper.jpg' %}");
      font-family: "Vazir";
    }
    .main {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .form-signup {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signup .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signup .form-control:focus {
      z-index: 2;
    }
    .form-signup input[id="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signup input[id="username"] {
      margin-bottom: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signup input[id="password"] {
      margin-bottom: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signup input[id="passwordCheck"] {
      margin-bottom: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>    
  <body>
    {% include "header.html" %}
    <div class="main text-center">
      <main class="form-signup">
        <form  action="/signup/" method="POST">
          {% csrf_token %}
          <!--<img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
          <h1 class="h3 mt-4 mb-3 fw-normal text-white">نام‌نویسی در <b><i>حافظ</i></b></h1>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="email">آدرس رایانامه</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="username" name="username"placeholder="نام کابری">
            <label for="username">نام کاربری</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="گذرواژه">
            <label for="password">گذرواژه</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="passwordCheck" placeholder="تأیید گذرواژه">
            <label for="passwordCheck">تأیید گذرواژه</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" id="submitButton" type="submit">نام‌نویسی</button>
          <p class="mt-5 mb-3 text-white">&copy; Hafez Notebook 1400-1401</p>
        </form>
      </main>
      </div>
	</body>
</html>
